<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LOCAL" connectionString="Data Source=LOPEZADRI-045\SQLEXPRESS;Initial Catalog=BitacoraDeControl;Integrated Security=True;" providerName="System.Data.SqlClient" />
		<add name="CSAAIWIN" connectionString="Server=SERVIDOR;User=admin;Password=admin;Database=D:\\CASAWIN\\CSAAIWIN\\Datos\\CASA.GDB;" providerName="FirebirdSql.Data.FirebirdClient" />
	</connectionStrings>
</configuration>
